﻿@model List<ChatApp.Models.ChatViewModel>;
@{
    ViewData["Title"] = $"Chats";
}

@section Styles{
    <link rel="stylesheet" href="~/css/index.css">
}

@section Scripts{
    <script src="~/js/index.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>

    <script src="~/js/textareaAutosize.js"></script>
}

<div class="wrapper">
    <div class="left">

        <div class="top">
            <input type="text" placeholder="Search" />
        </div>

        <ul class="people">
            
            @foreach (var c in Model)
            {
                <li class="person" onclick="loadChat('@c.RecipientEmail')">
                    <img src="~/images/avatar.png" alt="" />
                    <span class="name">@c.RecipientEmail</span>
                    <span class="time">@c.LastMessage?.Timestamp</span>
                    <span class="preview">@c.LastMessage?.Text</span>
                </li>
            }
        
        </ul>
    </div>

    <div class="right">
        <div id="select-chat-div">
            <p>Select a recepient...</p>
        </div>
        @foreach (var c in Model)
        {
            <div class="chat-wrapper" data-recipient="@c.RecipientEmail">
                <div id="titleDiv">
                    <span class="title">@c.RecipientEmail <i class="fas fa-circle" style="color:limegreen"></i></span>
                </div>

                <div class="chat">
                    @{
                        List<Message> messages = new();
                        messages.AddRange(c.MyMessages);
                        messages.AddRange(c.OtherMessages);
                        foreach (var m in messages.OrderBy(x => x.Timestamp))
                        {
                            if (c.MyMessages.Contains(m))
                            {
                                <div class="bubble me">
                                    <span class="message-text">@m.Text</span>
                                    <span class="message-time">@m.Timestamp</span>
                                </div>
                            }
                            else
                            {
                                <div class="bubble other">
                                    <span class="message-text">@m.Text</span>
                                    <span class="message-time">@m.Timestamp</span>
                                </div>
                            }
                        }
                    }
                </div>

                <div id="writeDiv">
                    <div class="write">
                        <i class="fas fa-paperclip"></i>
                        <input type="hidden" id="myUsername" value=@ViewBag.currentuser />
                        <textarea id="message-send" placeholder="Write a message..."></textarea>
                        <i class="far fa-smile"></i>
                        <button id="btn-send" onclick="sendMessage('@c.RecipientEmail')">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
