﻿@{
    ViewData["Title"] = "Login";
}

@section Styles{
    <link rel="stylesheet" href="~/css/login.css">
}


<div class="center">
    <form class="form-login" asp-controller="Account" asp-action="Login" method="post">

        <h2>Вход</h2>
        <div class="input-wrapper">
            <label class="label-form">Имя организации</label>
            <input class="input-form" type="text" name="OrgName" placeholder="Your organisation" >
        </div>
        <div class="input-wrapper">
            <label class="label-form">Ваше имя</label>
            <input class="input-form" type="text" name="UserName" placeholder="Your username" required>
        </div>
        <div class="input-wrapper">
            <label class="label-form">Почта(*)</label>
            <input class="input-form" type="text" name="Email" placeholder="Your email" required>
        </div>
        <p><br /></p>
        <div class="input-wrapper">
            <label class="label-form">Тип вопроса</label>
            <div>
                <input type="checkbox" name="Subject" value="Legal"> Legal
                <br />
                <input type="checkbox" name="Subject" value="Technical"> Technical
            </div>
        </div>
        <br />
        
        <input type="submit" id="btn-submit" value="Login" />
    </form>
</div>