﻿@{
    ViewData["Title"] = "Register";
}
@model ChatApp.Models.User
@section Styles{
    <link rel="stylesheet" href="~/css/login.css">
}


<div class="center">

  

    <form class="form-login" asp-controller="Account" asp-action="Register" method="post">

        <h2>Register</h2>
        <div class="input-wrapper">
            <label class="label-form">Organisation</label>
            <input class="input-form" type="text" name="organisation" placeholder="Your organisation" required>
        </div>
        <div class="input-wrapper">
            <label class="label-form">Username</label>
            <input class="input-form" type="text" name="username" placeholder="New username" required>
        </div>
        <div class="input-wrapper">
            <label class="label-form">Password</label>
            <input class="input-form" type="password" name="password" placeholder="Your password" required>
        </div>
        <p><br /></p>
        <div class="input-wrapper">
            <label class="label-form">Select Parameters</label>
            <div>
                <input type="checkbox" name="parameters" value="Legal"> Legal
                <br />
                <input type="checkbox" name="parameters" value="Technical"> Technical
            </div>
        </div>
        <br />
        <input type="submit" id="btn-submit" value="Register" style="margin:auto;" />

        @if (ViewBag.SuccessMessage != null)
        {
            <p>@ViewBag.SuccessMessage</p>
        }
    </form>
</div>